.cartao {
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.3rem 0.3rem 0.03rem #eee;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 15rem;
    min-height: 28rem;
}

.imagem-do-cartao {
    max-width: 100%;
    height: auto;
    aspect-ratio: 2/1.3;
    object-fit: cover;
}

.corpo-do-cartao {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.titulo-da-noticia {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
}

.classificacao-da-noticia {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.categoria-da-noticia{
    color: chartreuse;
}

.data-da-noticia{
    color: red
}

.descricao-da-noticia {
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.autoria-da-classificacao {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.autoria-da-classificacao {
    font-weight: bold;
}

.botao-do-cartao {
    max-width: 100%;
    background-color: blue;
    color: #eee;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    width: 100%;
    margin-top: 1rem;
}

.botao-do-cartao:hover {
    background-color: darkblue;
    color: white;
}